<div class="create-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home Page</li>
    </ol>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h6 class="m-b-20">Employes</h6>
            <h2 class="text-right">
              <i class="fa fa-users f-left"></i><span>486</span>
            </h2>
            <p class="m-b-0">Les Chefs<span class="f-right">351</span></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card">
          <div class="card-block">
            <h6 class="m-b-20">Bus</h6>
            <h2 class="text-right">
              <i class="fa fa-bus f-left"></i><span>486</span>
            </h2>
            <p class="m-b-0">Numbers<span class="f-right">351</span></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <h6 class="m-b-20">Condicteur</h6>
            <h2 class="text-right">
              <i class="fa fa-car f-left"></i><span>486</span>
            </h2>
            <p class="m-b-0">Numbers<span class="f-right">351</span></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
          <div class="card-block">
            <h6 class="m-b-20">Serviant</h6>
            <h2 class="text-right">
              <i class="fa fa-user f-left"></i><span>486</span>
            </h2>
            <p class="m-b-0">Numbers<span class="f-right">351</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="no-data text-center" style="text-align: centre">
      <img
        src="assets/source.gif"
        style="width: 400px"
        class="nodata-msg"
        alt="home"
      />
    </div>
  </div>
</div>
